<%= form_for [@story, @comment] do |f| %>
  <%= f.error_messages %>
  <fieldset>
    <legend>Add a comment</legend>

    <div class='form-group'>
      <%= f.label :content %>
      <%= f.text_field :content, :class => 'form-control' %>
    </div>

    <%= f.submit %>

  </fieldset>
<% end %>